<%- include("partials/header"); -%>
    <h1>Home</h1>

    <%posts.forEach((elements) => {%>
        <h1><%=elements.title%></h1>

        <p>
            <%=elements.body.substring(0,20);%>
            ...
            <a href="/posts/<%=elements._id%>">Read More</a>
        </p>
        <%});%>

            <%- include("partials/footer"); -%>